@page "/Empleados/Compras/Stock"
@using Reciplas.Models;
@inject NotificationService NotificationService 
@inherits OwningComponentBase<Usuario>  
@inject DialogService DialogService
@inject NavigationManager NavigationManager


 <PageTitle>Areas</PageTitle>

<TituloPrincipal TextoPrincipal="Compras" TextoSecundario="Stock Materia Prima" /> <br>
 <RadzenButton Class="float-end" Click=@ShowInlineDialogProduccion Variant="Variant.Flat" Shade="Shade.Dark" Text="Área Producción" Icon="assignment" ButtonStyle="ButtonStyle.Light"/>
<RadzenButton style="margin-left: 10px;" Click=@(args => OnClick("Excel Descargado")) Variant="Variant.Flat" Shade="Shade.Dark"  Text="Excel" Icon="assignment_returned" ButtonStyle="ButtonStyle.Success"/>

<br> <br>
    <RadzenDataList AllowVirtualization=@allowVirtualization Style="@(allowVirtualization ? "height:400px;overflow:auto;" : "")" 
                    WrapItems="@(!allowVirtualization)" AllowPaging="@(!allowVirtualization)"
                    Data="@products" TItem="Product" PageSize="3" PagerHorizontalAlign="HorizontalAlign.Left" ShowPagingSummary="true">
        <Template Context="product"> 
            <RadzenCard Style="width: auto; padding: 15px;">
                <RadzenRow Gap="0"> 
                    <br><RadzenColumn Size="12" SizeLG="2" Class="rz-p-4 product-title"><br>
                        <RadzenText TextStyle="TextStyle.H6" TextAlign="TextAlign.Center" TagName="TagName.H2" class="rz-color-black">@product.ProductName </RadzenText>
                    </RadzenColumn>
                    <RadzenColumn Size="12" SizeLG="6" Class="rz-p-5">
                        <RadzenRow Gap="0">
                            <RadzenColumn Size="12" SizeMD="6" SizeLG="3" >
                                <RadzenText TextStyle="TextStyle.H6" TextAlign="TextAlign.Center" TagName="TagName.H5" Class="rz-mb-0">En Stock</RadzenText><br>
                                <RadzenText TextStyle="TextStyle.Body1" TextAlign="TextAlign.Center">@product.UnitsInStock </RadzenText>
                            </RadzenColumn>
                            <RadzenColumn Size="12" SizeMD="6" SizeLG="3"> 
                                <RadzenText TextStyle="TextStyle.H6" TextAlign="TextAlign.Center" TagName="TagName.H5" Class="rz-mb-0">Vendidas</RadzenText><br>
                                <RadzenText TextStyle="TextStyle.Body1" TextAlign="TextAlign.Center" >@product.Supplier  </RadzenText>
                            </RadzenColumn>
                            <RadzenColumn Size="12" SizeMD="6" SizeLG="3">
                                <RadzenText Class="rz-mb-2"Style="width:200%">Precio por unidad</RadzenText> 
                                <RadzenBadge BadgeStyle="BadgeStyle.Secondary" Shade="Shade.Lighter" class="price-badge" Style="margin-left: 15%" Text=@($"{String.Format(new System.Globalization.CultureInfo("en-US"), "{0:C}", product.UnitPrice)}") />
                              </RadzenColumn>

                            <RadzenColumn Size="12" SizeMD="6" SizeLG="3">
                                <RadzenText   Class="rz-mb-2" Style="width:200%" TextAlign="TextAlign.Center" >Total Vendido</RadzenText>
                                <RadzenBadge  BadgeStyle="BadgeStyle.Secondary" Shade="Shade.Lighter" class="price-badge" Style="margin-left: 60%" Text=@($"{String.Format(new System.Globalization.CultureInfo("en-US"), "{0:C}", product.Total)}") />
                            </RadzenColumn>
                        </RadzenRow>
                    </RadzenColumn>
                    <RadzenColumn Size="12" SizeLG="4" Class="rz-p-4 rz-text-align-start rz-text-align-lg-end">
                        <RadzenText Style="width:70%" >Opciones</RadzenText>
                        <br>
                         <RadzenButton Click=@(args => OnClick("Compra Abonada")) Text="Realizar Pedido" TextAlign="TextAlign.Center" Icon="add_circle_outline" Color="Color.Warning" Style="margin-left: 5px" />
                    </RadzenColumn>
                </RadzenRow>
            </RadzenCard>
        </Template>
    </RadzenDataList>
 
<style>
.product-title {
    min-height: 50px;
    background-color: var(--rz-secondary-lighter);
}
.price-badge {
    font-size: 16px;
    font-weight: bold;
    line-height: 30px;
    padding: 8px;  
}
</style>

@code {
    bool allowVirtualization;

    IEnumerable<Product> products;

   
    private int _count;
    protected override Task OnInitializedAsync()
    {
        List<Product> prod = new List<Product>();
        var person1 = new Product {ProductName="Cartón", UnitsInStock=192, Supplier=50, UnitPrice=20, Total=2840};
        var person2 = new Product {ProductName="Bolsas de Plástico",UnitsInStock=140, Supplier=98, UnitPrice=25, Total=1050};
        var person3 = new Product {ProductName="Metal",UnitsInStock=250, Supplier=13, UnitPrice=23, Total=5451};
        var person4 = new Product {ProductName="Vidrio",UnitsInStock=150, Supplier=25, UnitPrice=13, Total=1625};
        var person5 = new Product {ProductName="Botellas",UnitsInStock=154, Supplier=95, UnitPrice=15, Total=885};
        var person6 = new Product {ProductName="Tapas de Plastico",UnitsInStock=148, Supplier=75, UnitPrice=21, Total=1533};
        var person7 = new Product {ProductName="Envases de Yogurt",UnitsInStock=134, Supplier=36, UnitPrice=20, Total=1960};
 
        prod.Add(person1);
        prod.Add(person2); 
        prod.Add(person3);
        prod.Add(person4);
        prod.Add(person5);
        prod.Add(person6);
        prod.Add(person7);


        products = prod;
        _count = prod.Count;

        return base.OnInitializedAsync();
    }

async Task ShowInlineDialogProduccion()
    {
        var result = await DialogService.OpenAsync("Área de Producción", ds =>
        @<div>
            <p class="mb-4">Indique en que listado quiere ingresar</p>
            <div class="row">
                <div class="col">
                   <RadzenButton Click="@(args => NavigationManager.NavigateTo("/Empleados/Produccion/Stocks"))" ButtonStyle="ButtonStyle.Info" Variant="Variant.Flat" Shade="Shade.Lighter" Text="Stocks" class="me-1"/>
                   <RadzenButton Click="@(args => NavigationManager.NavigateTo("/Empleados/Produccion/Pedidos"))" ButtonStyle="ButtonStyle.Secondary" Shade="Shade.Lighter" Text="Pedidos" class="me-1" />
                    <RadzenButton ButtonStyle="ButtonStyle.Dark" Shade="Shade.Lighter" Text="Cancelar" Click="() => ds.Close(false)"  class="me-1 float-end" />
                </div>
            </div>
        </div>);
    } 
    private void OnClick(string text)
    {
        NotificationService.Notify(new NotificationMessage { Severity = NotificationSeverity.Info, Detail = text });
    }

}