@page "/Empleados/Ventas/ventasProveedor"
@using Reciplas.Models;
@inject NotificationService NotificationService 
@inherits OwningComponentBase<Usuario>
@using System.Collections.Generic;  
@inject NavigationManager NavigationManager
@inject DialogService DialogService   


<PageTitle>Areas</PageTitle>
<RadzenButton Class="float-end" Click="@(args => NavigationManager.NavigateTo("/Empleados/Administracion/Consultas"))" Variant="Variant.Outlined" Shade="Shade.Darker" Text="Area Administracion" Icon="assignment" ButtonStyle="ButtonStyle.Secondary"/>

<TituloPrincipal TextoPrincipal="Ventas" TextoSecundario="Proveedores" />


<CListado TItem="Models.Proveedor" Data="@proveedores" PageSize="5" AllowColumnResize="true" AllowAlternatingRows="false" Frozen="true">
    
       <Columns>      
        <RadzenDataGridColumn TItem=" Models.Proveedor" TextAlign="TextAlign.Center" Property="ID" Title="ID" Width="35px" Frozen="true" />
        <RadzenDataGridColumn TItem=" Models.Proveedor" Property="Nombre" Title="Nombre" Width="80px"/> 
        <RadzenDataGridColumn TItem="Models.Proveedor" Property="DNI" Title="DNI" Width="60px" />
        <RadzenDataGridColumn TItem="Models.Proveedor" Property="Direccion" Title="Direcci&oacute;n" Width="100px" />
        <RadzenDataGridColumn TItem="Models.Proveedor" Property="Ciudad" Title="Ciudad" Width="100px" />
        <RadzenDataGridColumn TItem=" Models.Proveedor" TextAlign="TextAlign.Center"  Title="Pedidos" Width="80px">
            <Template Context="item">
                <RadzenButton Click="@(args => NavigationManager.NavigateTo("/Empleados/Ventas/PedDetalles"))" TextAlign="TextAlign.Center" Icon="list" ButtonStyle="ButtonStyle.Success" Style="margin-left: 5px" />
                <RadzenButton Click="@(args => NavigationManager.NavigateTo("/Empleados/Ventas/AgregarPedidoProveedor"))" TextAlign="TextAlign.Center" Icon="add_circle_outline" Color="Color.Warning" Style="margin-left: 5px" /> 
                <RadzenButton Click=@(args => OnClick("Registro Eliminado"))  TextAlign="TextAlign.Center" Icon="delete" ButtonStyle="ButtonStyle.Danger"Style="margin-left: 5px"/>

            </Template>
        </RadzenDataGridColumn>  
        <RadzenDataGridColumn TItem=" Models.Proveedor" Title="Ventas" Context="clientes" Filterable="false" Sortable="false" Width="100px">
            <Template Context="data"> 
                <RadzenButton Style="margin-left: 15px" Variant="Variant.Outlined" Click="@(args => NavigationManager.NavigateTo("/Empleados/Ventas/FacturarPedido"))"  Icon="add_shopping_cart"/>
  
                <RadzenCheckBox Style="margin-left: 25px" @bind-Value=@data.PerfilAprobacion TValue="bool" Name=@($"CheckBoxNro{data.Id}")
                    Disabled="true" />
                <RadzenLabel Text="@(data.PerfilAprobacion ? "Finalizo" : "No Finalizo")" Component=@($"CheckBoxNro{data.Id}") /> 
            </Template>
        </RadzenDataGridColumn> 
    </Columns>   
 
              
</CListado>
<br>
<RadzenStack Orientation="Orientation.Horizontal" >
    <RadzenButton Click="@(args => NavigationManager.NavigateTo("/Empleados/Ventas/NuevoProveedorFormulario"))" Variant="Variant.Flat" Shade="Shade.Lighter"  Text="Nuevo" Icon="add_circle_outline" ButtonStyle="ButtonStyle.Secondary" />
    <RadzenButton Click="@(args => NavigationManager.NavigateTo("/Empleados/Ventas/ProveedorFormulario"))" Variant="Variant.Flat" Shade="Shade.Lighter"  Text="Modificar" Icon="check_circle" ButtonStyle="ButtonStyle.Success"  />
        <a href="/Empleados/Ventas/ventasProveedor"><RadzenButton Click=@(args => OnClick("Registro Eliminado")) Variant="Variant.Flat" Shade="Shade.Lighter"  Text="Eliminar"  Icon="report" ButtonStyle="ButtonStyle.Danger"/></a>
        <RadzenButton Style="margin-left:auto" Click="@(args => NavigationManager.NavigateTo("/Empleados/Ventas/ventasClientes"))" Variant="Variant.Outlined" Text="Clientes" Icon="assignment" ButtonStyle="ButtonStyle.Info"/>

    </RadzenStack>


@code {
       bool EmployeeIDVisible = false; 

    IEnumerable<Models.Proveedor> proveedores;  
    protected bool cargando = true;
    [Parameter] public bool SoloLectura { get; set; } = true;
    [Parameter] public string Nombre {get; set;}
    [Parameter] public string Direccion {get; set;}
    [Parameter] public int ID {get; set;}
     [Parameter] public int Sucursal {get; set;} 
    private void OnClick(string text)
    {
        NotificationService.Notify(new NotificationMessage { Severity = NotificationSeverity.Info, Detail = text });
    }
protected async Task QuitarAdjunto(int id)
    {
      //
    }

     private int _count;
    protected override Task OnInitializedAsync()
    {
        List<Models.Proveedor> persons = new List<Models.Proveedor>();
        var person1 = new Models.Proveedor {Nombre = "Chiara Madelein", DNI=98138187, Direccion = "Calle gualaby 42 Sydney", ID =12, Ciudad="Corrientes", PerfilAprobacion=false};
        var person2 = new Models.Proveedor {Nombre = "Nahia Orgoñ", DNI=12345687, Direccion = "French 414", ID =7,  Ciudad="Resistencia - Chaco", PerfilAprobacion=true};
        var person3 = new Models.Proveedor {Nombre = "Valen Sosa", DNI=23682387, Direccion = "Av. Sarmiento", ID =5,  Ciudad="Goya - Ctes", PerfilAprobacion=true};
        var person4 = new Models.Proveedor {Nombre = "Mariano Gonzalez", DNI=98138187, Direccion = "Calle importante", ID =32,  Ciudad="Barranqueras - Chaco", PerfilAprobacion=false};
        var person5 = new Models.Proveedor {Nombre = "Leandro Martinez", DNI=31829887, Direccion = "ni idea", ID =15,  Ciudad="Mburucuya - Ctes", PerfilAprobacion=true};
        var person6 = new Models.Proveedor {Nombre = "Bibiana Altamirano", DNI=12819233, Direccion = "ejemplo 6", ID =13,  Ciudad="Corrientes", PerfilAprobacion=false};
        var person7 = new Models.Proveedor {Nombre = "Mateo Messi", DNI=91358268, Direccion = "otra calle importante", ID =69,  Ciudad="Paso de los Libres - Ctes", PerfilAprobacion=false};

        persons.Add(person1);        
        persons.Add(person2);        
        persons.Add(person3);        
        persons.Add(person4);        
        persons.Add(person5);
        persons.Add(person6);
        persons.Add(person7);

        proveedores = persons;
        _count = persons.Count;

        return base.OnInitializedAsync();
    }

}

