@page "/Empleados/Compras/ModificarCompra"
@inject NotificationService NotificationService 
@inherits OwningComponentBase<Usuario> 
@using System.Collections.Generic;  
@inject DialogService DialogService  
@inject NavigationManager NavigationManager  

<TituloPrincipal TextoPrincipal="Compras" TextoSecundario="Formulario" />


<div Class="rz-p-0 rz-p-md-12">
    <RadzenStack Orientation="Orientation.Vertical" Gap="1rem" Class="rz-p-4 rz-mb-6 rz-border-radius-1" >
        <RadzenStack Gap="0.5rem" Orientation="Orientation.Horizontal" AlignItems="AlignItems.Center">
            <RadzenLabel Text="Modificar Stock Disponible:" /> 
        </RadzenStack>
    </RadzenStack>

    <RadzenStack Orientation="Orientation.Horizontal" Wrap="FlexWrap.Wrap" Gap="1rem">
        <RadzenFormField Text="Materia Prima" Variant="@variant" Style="flex: 1;">
            <RadzenTextBox @bind-Value="@valueN" Disabled="@disabled" />
        </RadzenFormField>
        <RadzenFormField Text="Stock disponible" Variant="@variant" Style="flex: 1;">
            <RadzenNumeric @bind-Value="@valueD"  />
        </RadzenFormField>
        <RadzenFormField Text="Precio por unidad" Variant="@variant" Style="flex: 1;">
            <RadzenNumeric @bind-Value="@intValueD" Disabled="@disabled" />
        </RadzenFormField> 
        <RadzenFormField Text="N° Pedido" Variant="@variant" Style="flex: 1;">
            <RadzenNumeric @bind-Value="@intValueP" Disabled="@disabled" />
        </RadzenFormField> 
        <RadzenFormField Text="Total Factura" Variant="@variant" Style="flex: 1;">
            <RadzenNumeric @bind-Value="@intValueT" Disabled="@disabled" />
        </RadzenFormField>
    </RadzenStack>

    <br> 
<RadzenStack Orientation="Orientation.Horizontal" AlignItems="AlignItems.Center" Gap="1rem" Wrap="FlexWrap.Wrap">
   <RadzenButton Click="@(args => NavigationManager.NavigateTo("/Empleados/Compras/Stock"))" Text="Guardar" Icon="add_circle_outline" ButtonStyle="ButtonStyle.Primary" /> 
   <RadzenButton Click="@(args => NavigationManager.NavigateTo("/Empleados/Compras/Stock"))" Text="Volver" Variant="Variant.Flat" Icon="history" ButtonStyle="ButtonStyle.Light" /> 
</RadzenStack>
</div>



@code {
    bool disabled = true;
    Variant variant = Variant.Outlined; 

    string valueN = "Cartón";
    int valueD = 192;
    int intValueD = 20;
    int intValueP = 00015;
    int intValueT = 68520;
    string dropDownValue = "Around the Horn";

    IEnumerable<string> companyNames;

    protected override async Task OnInitializedAsync()
    {
       await base.OnInitializedAsync();
 
    }
     
}