@page "/ventas"
@using Reciplas.Clases;
@inject NotificationService NotificationService 
@inherits OwningComponentBase<Usuario>
@using System.Collections.Generic;  
@using System.Net.Http.Json;
@using System.Net.Http;
@inject DialogService DialogService   
@inject NavigationManager NavigationManager
@inject HttpClient Http
@inject IJSRuntime JS 
@using Reciplas.Repositorio
@inject IRepositorioVentas RepositorioVentas
@inject Reciplas.Clases.ApplicationDbContext _contexto 
@inject AuthenticationStateProvider AuthenticationStateProvider
 @using System.Globalization
@using System.Reflection


<PageTitle>Areas</PageTitle>

<TituloPrincipal TextoPrincipal="Ventas" TextoSecundario="Clientes" />   <br>
  
@*<RadzenButton Click=@(args => OnClick("Excel Descargado")) Variant="Variant.Flat" Shade="Shade.Dark"  Text="Excel" Icon="assignment_returned" ButtonStyle="ButtonStyle.Success"/>*@
@if (ventas == null)
{
    @: Cargando datos....
}else{
         
            
       
<br>
<br>



<CListado TItem="Clases.Ventas" Data="@ventas" PageSize="5" Frozen="true" >
       <Columns>
        
        <RadzenDataGridColumn TItem=" Clases.Ventas" TextAlign="TextAlign.Center"  Title="ID" Width="35px" Frozen="true" Property="id"/> 
        <RadzenDataGridColumn TItem=" Clases.Ventas"   Title="Fecha" Width="80px"  Property="fecha" /> 
        <RadzenDataGridColumn TItem="Clases.Ventas"  Title="Cliente" Width="80px" Property="cliente" />
        <RadzenDataGridColumn TItem="Clases.Ventas"  Title="Acciones" Width="80px" >
            <Template Context="venta">
                <RadzenButton Click="@(args => NavigationManager.NavigateTo("/Ventas/EditarVenta/@venta.id"))" TextAlign="TextAlign.Center" Icon="list" ButtonStyle="ButtonStyle.Success" Style="margin-left: 5px" />
                <RadzenButton Click="@(args => NavigationManager.NavigateTo("/Ventas/NuevaVenta"))" TextAlign="TextAlign.Center" Icon="add_circle_outline" Color="Color.Warning" Style="margin-left: 5px" />
                <RadzenButton onclick="@(() => Eliminaritem(venta.id))"  TextAlign="TextAlign.Center" Icon="delete" ButtonStyle="ButtonStyle.Danger" Style="margin-left: 5px"/>
            </Template>
        </RadzenDataGridColumn> 
    
</Columns>   
</CListado> 
<br> 
<RadzenStack Orientation="Orientation.Horizontal" AlignItems="AlignItems.Center" Gap="1rem" Wrap="FlexWrap.Wrap">
   <RadzenButton Click="@(args => NavigationManager.NavigateTo("/Ventas/EditarVenta/@venta.id"))" Variant="Variant.Flat"  Text="Modificar" Icon="check_circle" ButtonStyle="ButtonStyle.Success"/>
    <RadzenButton Click="@(args => NavigationManager.NavigateTo("/Ventas/NuevaVenta"))" Variant="Variant.Flat"  Text="Nuevo" Icon="add_circle_outline" ButtonStyle="ButtonStyle.Secondary"   />
 
</RadzenStack>
<br> 
 }
    



@code {
        private List<Clases.Ventas> ventas = new List<Ventas>();
        
        protected override async Task OnInitializedAsync(){
            ventas = await RepositorioVentas.GetVentas();
        }


        public async Task Eliminaritem(int ventasId){
            await RepositorioVentas.EliminarVenta(ventasId);

            //actualizar la venta para que recargue la lista de la pagina

            ventas = await RepositorioVentas.GetVentas();
        }
    


    @*private bool isLoading = false;   
    bool value;
    [Parameter] public bool SoloLectura { get; set; } = true;


    protected override async Task OnInitializedAsync(){
        await CargarDatos();
    }
  
    async Task CargarDatos(int pagina =1, int regs =10){
        isLoading = true;
        
        ventas = await Http.GetFromJsonAsync<List<Clases.Ventas>>("api/venta"); 
        isLoading = false;
    }
 async Task RegisterEliminado()
    {
        var result = await DialogService.OpenAsync("Está seguro de que desea eliminar el Pedido?", ds =>
        @<div>
            <div class="row">
                <div class="col">
                   <a href="/Empleados/Ventas/ventasClientes"><RadzenButton Click=@(args => OnClick("Registro Eliminado")) TextAlign="TextAlign.Center" Icon="delete" ButtonStyle="ButtonStyle.Danger" Style="margin-left: 5px" Text="Eliminar" class="me-1"/></a>
                   <RadzenButton Click="() => ds.Close(false)" TextAlign="TextAlign.Center" Icon="delete" ButtonStyle="ButtonStyle.Light" Style="margin-left: 5px" Text="Cancelar"  class="me-1 float-end" />                </div>
            </div>
        </div>);
    } 

    async Task Eliminaritem(int Id){
        var itemSelect = ventas.First(x=> x.id == Id);
        string mensaje = $"Se va a eliminar la venta {itemSelect.id}. Esta seguro?";
        if (await JS.InvokeAsync<bool>("confirm", mensaje)){
            await Http.DeleteAsync($"/ventas/{Id}");
            await CargarDatos();
            }
    }*@

}

