@page "/Empleados/Ventas/PedidosDetalles"
@using Reciplas.Models;
@inject NotificationService NotificationService
@inherits OwningComponentBase<Usuario> 
@inject DialogService DialogService
@inject NavigationManager NavigationManager  
@using Reciplas.Clases;
@using Reciplas.Repositorio;
@inject IRepositorioVentas RepositorioVentas;
@inject IRepositorioProductos RepositorioProductos;
@inject Reciplas.Clases.ApplicationDbContext _contexto;


@if (mostrarPedido == null)
{
    <p><em>Loading...</em></p>
}
else
{
        <EditForm  Model="@mostrarPedido" OnValidSubmit="@(() => manejoMostrarPedido())">

<RadzenCard Class="rz-my-12 rz-mx-auto" Style="max-width: 420px">
    <RadzenStack Orientation="Orientation.Horizontal" JustifyContent="JustifyContent.Start" Gap="1rem" Class="rz-p-4">
        
        <RadzenStack Gap="0">
            <RadzenText TextStyle="TextStyle.Overline" class="rz-display-flex rz-mt-2 rz-my-0">ID del Cliente</RadzenText>
            <InputFile OnChange="@(() => manejoMostrarPedido())" TextStyle="TextStyle.Body1" @bind-Value="mostrarPedido.id" ><b></b></InputFile>
            <RadzenText TextStyle="TextStyle.Overline" class="rz-display-flex rz-mt-4 rz-mb-0">Apellido y Nombre del Cliente</RadzenText>
            <InputFile OnChange="@(() => manejoMostrarPedido())" TextStyle="TextStyle.Body1" @bind-Value="mostrarPedido.cliente"><b></b></InputFile>
            <RadzenText TextStyle="TextStyle.Overline" class="rz-display-flex rz-mt-2 rz-my-0">Fecha</RadzenText>
            <InputFile OnChange="@(() => manejoMostrarPedido())" TextStyle="TextStyle.Body1" @bind-Value="mostrarPedido.fecha"><b></b></InputFile> 
        </RadzenStack>
    </RadzenStack>


    <RadzenCard Model="@detalleProducto" OnSubmit="@(() => manejoMostrarProducto())" 
        class="rz-background-color-primary-lighter rz-shadow-0 rz-border-radius-0 rz-p-8" style="margin: 1rem calc(-1 * var(--rz-card-padding));">
        <RadzenText TextStyle="TextStyle.H6" class="rz-color-primary-light"><strong>Informacion del Pedido</strong></RadzenText>
        <RadzenRow RowGap="0">
            <RadzenColumn SizeSM="4">
                <RadzenText TextStyle="TextStyle.Overline" class="rz-color-primary-light rz-display-flex rz-mt-4 rz-mb-0">N° Pedido</RadzenText>
                <InputFile OnChange="@(() => manejoMostrarProducto())" @bind-Value="detalleProducto.id" TextStyle="TextStyle.Body1"><b></b></InputFile>
                <RadzenText TextStyle="TextStyle.Overline" class="rz-color-primary-light rz-display-flex rz-mt-4 rz-mb-0">Descripcion</RadzenText>
                <InputFile OnChange="@(() => manejoMostrarProducto())" @bind-Value="detalleProducto.nombre" TextStyle="TextStyle.Body1"><b></b></InputFile>
                <RadzenText TextStyle="TextStyle.Overline" class="rz-color-primary-light rz-display-flex rz-mt-4 rz-mb-0">Descripcion</RadzenText>
                <InputFile OnChange="@(() => manejoMostrarProducto())" @bind-Value="detalleProducto.stock" TextStyle="TextStyle.Body1"><b></b></InputFile>
            </RadzenColumn>
            <RadzenColumn SizeSM="8">
                <RadzenText TextStyle="TextStyle.Overline" class="rz-color-primary-light rz-display-flex rz-mt-4 rz-mb-0">N°Vendedor</RadzenText>
                <InputFile OnChange="@(() => manejoMostrarProducto())" @bind-Value="detalleProducto.precio" TextStyle="TextStyle.Body1"><b></b></InputFile>
                <RadzenText TextStyle="TextStyle.Overline" class="rz-color-primary-light rz-display-flex rz-mt-4 rz-mb-0">Total</RadzenText>
                <InputFile OnChange="@(() => manejoMostrarProducto())" @bind-Value="detalleProducto.categoria" TextStyle="TextStyle.Body1"><b></b></InputFile>
                <RadzenText TextStyle="TextStyle.Overline" class="rz-color-primary-light rz-display-flex rz-mt-4 rz-mb-0">Total</RadzenText>
                <InputFile OnChange="@(() => manejoMostrarProducto())" @bind-Value="detalleProducto.fecha_actualizacion" TextStyle="TextStyle.Body1"><b></b></InputFile>
            </RadzenColumn>
        </RadzenRow>
    </RadzenCard>
    <RadzenStack Orientation="Orientation.Horizontal" JustifyContent="JustifyContent.End" Gap="0">
        <RadzenButton Click="@(args => NavigationManager.NavigateTo("/ventas"))" Variant="Variant.Text" class="rz-text-secondary-color" Text="Volver" /> 
    </RadzenStack>
</RadzenCard>
        </EditForm>
}

@code {
   private Ventas mostrarPedido = new Ventas(); 
   private Productos detalleProducto = new Productos();
  [Parameter] public int? Id {get; set;}

    public async Task manejoMostrarPedido(){

        var variableMostrarVenta = await RepositorioVentas.GetVentasId(Id.Value);
        NavigationManager.NavigateTo("/ventas");
    }

     public async Task manejoMostrarProducto(){

        var variableMostrarProducto = await RepositorioProductos.GetProductosId(Id.Value);
        NavigationManager.NavigateTo("/ventas");
    }
}
